@font-face {
    font-family: 'kalpurushregular';
    src: url('fonts/kalpurush-webfont.eot');
    src: url('fonts/kalpurush-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kalpurush-webfont.woff2') format('woff2'),
         url('fonts/kalpurush-webfont.woff') format('woff'),
         url('fonts/kalpurush-webfont.ttf') format('truetype'),
         url('fonts/kalpurush-webfont.svg#kalpurushregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p, li a{
  font-family: kalpurushregular;
}
h1, h2, h3, h4, h5, h6{
  color: rgb(221, 109, 96);
  font-family: kalpurushregular;
}
h2 {
  background: #e1e1e1 none repeat scroll 0 0;
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
}
.caution-div {
  border: 1px dashed rgb(221, 109, 96);
  padding: 10px;
}
.caution{
  color: red;
  font-weight: bold;
}
